@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
  *::-webkit-scrollbar {
    width: 0.5rem;
    border-radius: 6px;
  }
  *::-webkit-scrollbar-track {
    background: #fff
    
  } 
  *::-webkit-scrollbar-thumb {
    background-color: #4facfe;
    border-radius: 6px;
    outline: none;
  }

.glass {
  background: rgba(255, 255, 255, 0.22);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.5px);
-webkit-backdrop-filter: blur(4.5px);
}

.headerBg {

  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}